.form__save-button{
    cursor:pointer;
    margin-top: 6vh;
    background-color: black;
    color: white;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 22px;
}
.form__save-button:hover{
    background-color: rgba(0,0,0, 0.8);
}