.pop-up__closeButton{
    cursor:pointer;
    position: absolute;
    right: -12.5%;
    top: -12.5%;
    background:none;
    border: none;   
}

.pop-up__closeButton:hover{
    opacity: 0.6;
}

@media screen and (max-width:767px) {
    .pop-up__closeButton{
        width: 20px;
        height: 20px;
        right: 3%;
        top: -10%;
    }
}