.profile__title{
    grid-area: title;
    font-weight: 500;
    font-size: 2em;
    line-height: 114%;
    margin: 0;
    max-width: 294px;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:767px) {
    .profile__button{
        max-width: 189px;
        font-size: 1.5em;
        line-height: 33px;
    }
}