.form__title{
    width: 80%;
    margin: 25px 0 54px 0;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 29px;

}
@media screen and (max-width: 767px) {
    .form__title{
    width: 80%;
    margin: 25px 0 0 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    }
}
