.form__title{
    max-width: 330px;
    margin: 25px 0 54px 0;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 29px;

}
@media screen and (max-width: 767px) {
    .form__title{
    max-width: 238px;
    height: 22px;
    margin: 25px 0 75px 0;
    font-size: 18px;
    line-height: 22px;
    }
}
