.pop-up__block{
    margin: 10vh auto;
    position: relative;
    width: 75vw;
    height: 75vh;
}

@media screen and (max-width:767px){
    .pop-up__block{
        margin: 25vh auto;
        height: 50vh;
    }
}